/.cache/
/docsearch/node_modules/
/netlify/node_modules/
/node_modules/
/public/
/scripts/node_modules/
scripts/.npmrc
scripts/package-lock.json
local-antora-playbook.yml
xref-validator.log
.asciidoctorconfig
**/.DS_Store
.idea
lab.sh
/workspace
