# $(npm bin)/antora --clean --fetch antora-playbook.yml
site:
  title: Couchbase Docs Sandbox
  url: https://docs-sandbox.couchbase.com
  start_page: cloud::index.adoc
  robots: disallow
git:
  ensure_git_suffix: false
content:
  branches: release/*
  # NOTE the git@ segment in the URL indicates which repositories are private
  sources:
  #- url: .
  #  branches: HEAD
  #  start_path: home
 # - url: https://git@github.com/couchbaselabs/project-avengers
  #  branches: master
  #  start_path: docs/public
  - url: https://git@github.com/couchbase/couchbase-operator
    branches: [2.0.x, 1.2.x, 1.1.x, 1.0.x]
    start_path: docs/user
  - url: https://github.com/couchbase/couchbase-elasticsearch-connector
    branches: [master, release/4.1, release/4.0, release/cypress]
    start_path: docs
  - url: https://github.com/couchbase/kafka-connect-couchbase
    branches: [master, release/3.3]
    start_path: docs
  - url: https://github.com/couchbase/couchbase-spark-connector
    branches: [master, release/2.3, release/2.2, release/2.1]
    start_path: docs
  - url: https://git@github.com/couchbase/docs-connectors-talend
    branches: master
  - url: https://git@github.com/couchbase/docs-analytics
    branches: [release/6.5, release/6.0, release/5.5]
  - url: https://github.com/couchbase/couchbase-cli
    branches: [mad-hatter, alice, vulcan, spock, 5.0.1]
    start_path: docs
  - url: https://git@github.com/couchbase/backup
    branches: [mad-hatter, alice, vulcan, spock, 5.0.x]
    start_path: docs
  # NOTE docs-server is currently after other server repos so nav key wins
  - url: https://github.com/couchbase/docs-server
    branches: [release/6.5, release/6.0, release/5.5, release/5.1, release/5.0, release/4.6, release/4.5, release/4.1, release/4.0]
  - url: https://github.com/couchbase/docs-sdk-common
  - url: https://github.com/couchbase/docs-sdk-c
  - url: https://github.com/couchbase/docs-sdk-dotnet
  - url: https://github.com/couchbase/docs-sdk-go
  - url: https://github.com/couchbase/docs-sdk-java
  - url: https://github.com/couchbase/docs-sdk-nodejs
  - url: https://github.com/couchbase/docs-sdk-php
  - url: https://github.com/couchbase/docs-sdk-python
  - url: https://github.com/couchbase/docs-sdk-scala
  - url: https://github.com/couchbaselabs/docs-couchbase-lite
    branches: [release/2.7, release/2.6, release/2.5, release/2.1, release/2.0, release/1.4, release/1.3]
  - url: https://github.com/couchbaselabs/docs-sync-gateway
    branches: [release/2.7, release/2.6, release/2.5, release/2.1, release/2.0, release/1.5, release/1.4, release/1.3]
  - url: https://github.com/couchbase-partners/test-drive-couchbase
    branches: [docs-site-pub]
  # Tutorial repositories
  - url: https://github.com/couchbaselabs/tutorials
    branches: master
  - url: https://github.com/couchbase/developer-content
    branches: master
  - url: https://github.com/couchbaselabs/tutorial-template
    branches: master
  - url: https://github.com/couchbaselabs/mobile-travel-sample
    branches: master
    start_path: content
  - url: https://github.com/couchbaselabs/hotel-finder-react-native
    branches: master
  - url: https://github.com/couchbaselabs/hotel-lister-cordova
    branches: master
  - url: https://github.com/couchbaselabs/tutorials-contrib
    branches: master
  - url: https://github.com/couchbaselabs/mobile-training-todo
    branches: tutorials
    start_path: content
  - url: https://github.com/couchbaselabs/UniversityLister-Android
    branches: master
    start_path: content
  - url: https://github.com/couchbaselabs/userprofile-couchbase-mobile
    branches: [standalone, query, sync, backgroundfetch]
    start_path: content
  - url: https://github.com/couchbaselabs/userprofile-couchbase-mobile-xamarin
    branches: [standalone, query, sync]
  - url: https://github.com/couchbaselabs/couchbase-lite-ios-api-playground
    branches: master
  - url: https://github.com/couchbaselabs/userprofile-couchbase-mobile-android
    branches: [standalone, query, sync]
  - url: https://github.com/amarantha-k/OpenID_connect_tutorial
    branches: [tutorial]
    start_path: content
asciidoc:
  attributes:
    max-include-depth: 10
    page-partial: false
    experimental: ''
    idprefix: '@'
    idseparator: '-@'
    tabs: tabs
    toc: ~
    xrefstyle: short
    enterprise: https://www.couchbase.com/products/editions[ENTERPRISE EDITION]
    community: https://www.couchbase.com/products/editions[COMMUNITY EDITION]
  extensions:
  - ./lib/json-config-ui-block-macro.js
  - ./lib/inline-man-macro.js
  - ./lib/multirow-table-head-tree-processor.js
  - ./lib/swagger-ui-block-macro.js
  - ./lib/tabs-block.js
ui:
  bundle:
    url: https://github.com/couchbase/docs-ui-sandbox/releases/download/cloud-6/ui-bundle.zip
output:
  dir: ./public
