site:
  title: Couchbase Docs (Staging)
  url: https://docs-staging.couchbase.com
  start_page: home::index.adoc
content:
  branches: release/*
  sources:
  - url: .
    branches: HEAD
    start_path: home
  - url: https://github.com/couchbase/couchbase-cli.git
    branches: [master, alice]
    start_path: docs
  # NOTE server-docs is currently after other server repos so nav key wins
  - url: ~/Couchbase/docs/docs-server/
    branches: [release/7.1 release/7.0]
  - url: ~/Couchbase/docs/docs-sdk-common/
    branches: [release/7.1.2, release/7.1]
  - url: ~/Couchbase/docs/docs-sdk-c/
    branches: [release/3.4, release/3.3]
  - url: ~/Couchbase/docs/docs-sdk-dotnet/
    branches: [release/3.4, release/3.3]
  - url: ~/Couchbase/docs/docs-sdk-go/
    branches: [release/2.6, release/2.5]
  - url: ~/Couchbase/docs/docs-sdk-java/
    branches: [release/3.4, release/3.3]    
  - url: ~/Couchbase/docs/docs-sdk-kotlin/
    branches: [release/1.0]    
  - url: ~/Couchbase/docs/docs-sdk-nodejs/
    branches: [release/4.2, release/4.1]
  - url: ~/Couchbase/docs/docs-sdk-php/
    branches: [release/4.1, release/4.0]
  - url: ~/Couchbase/docs/docs-sdk-python/
    branches: [release/4.1, release/4.0]
  - url: ~/Couchbase/docs/docs-sdk-ruby/
    branches: [release/3.4 release/3.3]
  - url: ~/Couchbase/docs/docs-sdk-scala/
    branches: [release/1.4, release/1.3]    
        
asciidoc:
  attributes:
    experimental: ''
    idprefix: '@'
    idseparator: '-@'
    tabs: tabs
    toc: ~
    xrefstyle: short
    kroki-server-url: https://kroki.io
    kroki-fetch-diagram: true    
  extensions:
  - ./lib/json-config-ui-block-macro.js
  - ./lib/inline-man-macro.js
  - ./lib/multirow-table-head-tree-processor.js
  - ./lib/swagger-ui-block-macro.js
  - ./lib/tabs-block.js
  - asciidoctor-kroki
ui:
  bundle:
    url: https://github.com/couchbase/docs-ui/releases/download/prod-143/ui-bundle.zip   
  supplemental_files:
  - path: robots.txt
    contents: |
      User-agent: *
      Disallow: /
  - path: ui.yml
    contents: |
      static_files: [robots.txt]
output:
  dir: ./public
