    <li>
        {{#if $href}}<a href="../{{$href}}" target="_blank">{{/if}}
        <span class="{{#if $children}}caret {{#unless $tag}}caret-down{{/unless}}{{else}}doc{{/if}}">
            {{@key}}
        </span>
        {{#if $href}}</a>{{/if}}
        
        {{#if $tag}}
            <span data-tag="{{$tag}}" {{{tagStyle $tag}}}>&#x2691;</span>
        {{/if}}
        
        {{#if $children}}
            <ul class="nested {{#unless $tag}}active{{/unless}}">
                {{#each $children}}
                {{> tree}}
                {{/each}}
            </ul>
        {{/if}}
    </li>
