[build]
command = """\
[[ $(du -s $ANTORA_CACHE_DIR 2>/dev/null | cut -f1 || echo 0) -gt 10000000 ]] && rm -rf $ANTORA_CACHE_DIR; \
if [ -v FONTAWESOME_NPM_TOKEN ]; then echo -e '@fortawesome:registry=https://npm.fontawesome.com/\\n//npm.fontawesome.com/:_authToken=$''{FONTAWESOME_NPM_TOKEN}' > ../scripts/.npmrc; fi; \
(cd ../scripts; npm --no-package-lock i >/dev/null || true); \
if [ -v GITHUB_TOKEN ]; then export GIT_CREDENTIALS=https://$GITHUB_TOKEN:@github.com; else node ../scripts/remove-private-content-sources.js ../antora-playbook.yml; fi; \
touch antora.log; \
time node_modules/.bin/antora --stacktrace --fetch --generator=@antora/site-generator-ms --attribute=site-navigation-data-path=_/js/site-navigation-data.js --redirect-facility=netlify --to-dir=public --url $(if [[ $CONTEXT == 'production' ]]; then echo -n $URL; else echo -n $DEPLOY_PRIME_URL; fi) ../antora-playbook.yml >antora.log 2>&1 || tail antora.log && \
node ../scripts/populate-icon-defs.js public && \
mv antora.log public/ || \
tail antora.log
"""
#time node_modules/.bin/antora --fetch --generator=@antora/xref-validator ../antora-playbook.yml || true; \
ignore = "false"
publish = "public"

[build.environment]
ANTORA_CACHE_DIR = "~+/node_modules/.cache/antora"
NODE_VERSION = "10"
NODE_OPTIONS = "--max-old-space-size=4096"
NPM_FLAGS = "--no-optional"

[context.production.environment]
ALGOLIA_APP_ID = "NI1G57N08Q"
ALGOLIA_API_KEY = "d3eff3e8bcc0860b8ceae87360a47d54"
ALGOLIA_INDEX_NAME = "staging_docs_couchbase"
OPTANON_SCRIPT_URL = "https://cdn.cookielaw.org/consent/288c1333-faac-4514-a8bf-a30b3db0ee32.js"
SHOW_FEEDBACK_BUTTON = "true"

[[headers]]
for = "/_/font/*"
  [headers.values]
  Cache-Control = "public,max-age=604800"
