[build]
publish = "public"
ignore = "false"

[build.environment]
CI = "true"
NODE_VERSION = "10"
NPM_FLAGS = "--no-optional"
ANTORA_CACHE_DIR = "node_modules/.cache/antora"
SUPPORTS_CURRENT_URL="true"

# NOTE branch-deploy refers to the master branch

[context.branch-deploy]
command = """\
mkdir public && \
echo '<!DOCTYPE html>\n<meta http-equiv="refresh" content="0; url=https://docs.couchbase.com">\n<meta name="robots" content="noindex">\n<title>Redirect Notice"</title>\n<p>Redirecting to <a href="https://docs.couchbase.com">docs.couchbase.com</a>...</p>' > public/index.html\n
"""

[context.deploy-preview]
command = """\
if [ -v FONTAWESOME_NPM_TOKEN ]; then echo -e '@fortawesome:registry=https://npm.fontawesome.com/\\n//npm.fontawesome.com/:_authToken=$''{FONTAWESOME_NPM_TOKEN}\\n' > ../scripts/.npmrc; fi; \
(cd ../scripts; npm --no-package-lock i || true) && \
if [ -v GITHUB_TOKEN ]; then export GIT_CREDENTIALS=https://$GITHUB_TOKEN:@github.com; else node ../scripts/remove-private-content-sources.js ../antora-playbook.yml; fi; \
node_modules/.bin/antora --fetch --generator=@antora/xref-validator ../antora-playbook.yml || true; \
node_modules/.bin/antora --redirect-facility=netlify --to-dir=public --url $DEPLOY_PRIME_URL ../antora-playbook.yml && \
node ../scripts/add-current-url-redirects.js ../etc/nginx/snippets/rewrites.conf && \
node ../scripts/populate-icon-defs.js public\
"""

[[headers]]
for = "/_/font/*"
  [headers.values]
  Cache-Control = "public,max-age=604800"

# NOTE the following redirects get appended to the redirects defined in the _redirects file

[[redirects]]
# NOTE all paths that don't resolve to a static file or previous redirect rule
from = "/*"
to = "/home/index.html"
status = 302
